
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
/* Main Page Styling */
a{
    text-decoration: none;
    color: #333;
}

.container {
    text-align: center;
    width:80% !important;
    max-width: 900px;
    margin:0 auto;
}
.links-wrapper{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.links{
    padding:10px 15px;
    background:#f4f4f4;
    box-shadow: 2px 2px 5px 2px #c3c4e4;
    margin:10px;
}

.follow img{
    width:30px;
}

.magictime {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@media(max-width:425px){
    .links{
        font-size:12px;
    }

    .links-wrapper{
    
        grid-template-columns: repeat(2, 1fr);
        
    }
}