*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #140A26;
    color: #fcfcfc;
    height: 100vh;
    font-size:14px;
}

/* .container */

.welcome-page{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h5{
    text-align: center;
}

.brand-container{
    background: #221738;
    width: 100%;
    position: absolute;
    height: 10%;
    padding-top: 200px;
    top: 0;
    z-index: -1;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.brand-title {
    font-size:3rem;
    text-align: center;
}

 .small{
    display: block;
    padding: 5px 0px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
} 

.note{
    width:90%;
    text-align: center;
}

.socialMedia{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.icon-box{
    width:80%;
    color: #333;
    margin: 0 auto;
    padding:10px 60px;
    background: #f4f4f4;
    margin:10px 0px;
    border-radius: 5px;
    font-size:14px;
    box-shadow: 2px 4px 5px #0f0129;

}

#email{
    background:#fff;
    color: #140A26;

}

#number{
    background:#FF5C5C;
    color:#fff;
}