@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&family=Yeon+Sung&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #140A26;
    color: #fcfcfc;
    height: 100vh;
    font-size:14px;
    font-family: 'Raleway', sans-serif !important;
    max-width:768px;
    margin: auto;
}

/* .container */

.welcome-page{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h5{
    text-align: center;
}

.brand-container{
    background: #221738;
    width: 100%;
    position: absolute;
    height: 10%;
    padding-top: 200px;
    top: 0;
    z-index: -1;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.brand-title {
    font-size:3.5rem;
    text-align: center;
    font-family: 'Yeon Sung', cursive !important;
}

 .small{
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif !important;
} 

.note{
    width:90%;
    text-align: center;
}

.socialMedia{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.icon-box{
    width:80%;
    height: 100%;
    color: #333;
    margin: 0 auto;
    padding:10px 10px;
    background: #f4f4f4;
    margin:10px 0px;
    border-radius: 5px;
    font-size:14px;
    box-shadow: 2px 4px 5px #0f0129;
    display:flex;
    justify-content: space-between;
    cursor:pointer;
}

.icon-box span{
    flex:1;
   border-right: 1px solid #0f0129;
}

.icon-box > div{
    flex:2;
    padding: 0px 10px;
}

#email{
    background:#fff;
    color: #140A26;
    
}

#number{
    background:#FF5C5C;
    color:#fff;
}




/* Create Style css */
.form-wrapper{
    margin-top: 40px;
}

.create-page{
   display: flex;
   flex-direction: column;
   width: 70%;
   max-width:768px;
   justify-content: center;
   /* align-items: center; */
   height: 100vh;
   margin: 0 auto;
}

.form-group{
   
}

.input-group{
    width:100%;
    border: none;
    outline: none;
    padding:15px 12px;
    margin:10px auto;
    font-family: 'Raleway', sans-serif !important;
}

.get-started{
    background:#FF5C5C;
    color:#fff;
    box-shadow: 2px 4px 3px #140A26;
    font-family: 'Raleway', sans-serif !important;
}


@media(max-width:425px){
    .brand-title{
        font-size: 2rem;
    }
}